In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import brier_score_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
from scipy.stats import uniform,randint
from sklearn.model_selection import RandomizedSearchCV, KFold
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../data/preprocess_data.csv',sep = ',')

In [3]:
pd.options.display.max_columns = None
data.head(5)

,Tournament,Home Team,Away Team,Match Date,Winner Team,Winner Home Or Away,Phase,Final Score,Extra Periods,Team,Opponent Team,Team Points,Team Two Pointers Made,Team Two Pointers Attempted,Team Two Pointers Percenage,Team Three Pointers Made,Team Three Pointers Attempted,Team Three Pointers Percenage,Team Free Throws Made,Team Free Throws Attempted,Team Free Throws Percenage,Team Offensive Rebounds,Team Defensive Rebounds,Team Total Rebounds,Team Assists,Team Steals,Team Turnovers,Team Blocks,Team Blocks Against,Team Personal Fouls,Team Fouls Received,Team Performance Index,Opponent Points,Opponent Two Pointers Made,Opponent Two Pointers Attempted,Opponent Two Pointers Percenage,Opponent Three Pointers Made,Opponent Three Pointers Attempted,Opponent Three Pointers Percenage,Opponent Free Throws Made,Opponent Free Throws Attempted,Opponent Free Throws Percenage,Opponent Offensive Rebounds,Opponent Defensive Rebounds,Opponent Total Rebounds,Opponent Assists,Opponent Steals,Opponent Turnovers,Opponent Blocks,Opponent Blocks Against,Opponent Personal Fouls,Opponent Fouls Received,Opponent Performance Index,Team Result,teamFGA,teamFGM,teamTREB%,teamASST%,teamTS%,teamEFG%,teamOREB%,teamDREB%,teamTO%,teamPoss,teamSTL%,teamBLK%,teamBLKR,teamPPS,teamPlay%,teamAR,teamAST/TO,teamSTL/TO,teamFIC,teamOrtg,opptFGA,opptPoss,teamDrtg,teamEDiff,team_Game_Score,opptFGM,opptTREB%,opptASST%,opptTS%,opptEFG%,opptOREB%,opptDREB%,opptTO%,opptSTL%,opptBLK%,opptBLKR,opptPPS,opptFIC,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,oppt_Game_Score,Points difference,Finals,Last 32,Playoffs,Quarter-Finals,Regular Season,Semifinals,Top 16
0,Basket League,KAOD,Aris,2013-10-12,Aris,Away,Regular Season,58-66,0.0,KAOD,Aris,58.0,20.0,43.0,0.46512,1.0,10.0,0.10000,15.0,26.0,0.57692,12.0,22.0,34.0,6.0,6.0,17.0,3.0,3.0,22.0,22.0,40.0,66.0,15.0,33.0,0.45455,9.0,23.0,0.39130,9.0,19.0,0.47368,10.0,18.0,28.0,11.0,8.0,14.0,3.0,3.0,22.0,22.0,57.0,0.0,53.0,21.0,54.838710,28.571429,45.003104,40.566038,40.000000,68.750000,20.874263,69.44,8.640553,4.320276,9.090909,1.094340,36.206897,9.293680,0.352941,0.352941,24.000,83.525346,56.0,68.36,96.547689,-13.022343,26.4,24.0,45.161290,45.833333,51.274083,50.892857,31.250000,60.000000,17.866258,11.702750,4.388531,6.976744,1.178571,37.375,96.547689,83.525346,13.022343,40.000000,15.143172,0.785714,0.571429,39.8,-8.0,0,0,0,0,1,0,0
1,Basket League,PAOK,Kolossos Rhodes,2013-10-12,PAOK,Home,Regular Season,88-81,0.0,PAOK,Kolossos Rhodes,88.0,17.0,35.0,0.48571,10.0,26.0,0.38462,24.0,26.0,0.92308,9.0,22.0,31.0,22.0,7.0,18.0,3.0,1.0,23.0,23.0,96.0,81.0,26.0,42.0,0.61905,5.0,16.0,0.31250,14.0,21.0,0.66667,6.0,25.0,31.0,5.0,8.0,18.0,1.0,3.0,24.0,22.0,69.0,1.0,61.0,27.0,50.000000,81.481481,60.739923,52.459016,26.470588,78.571429,19.902698,81.44,8.595285,3.683694,7.142857,1.442623,38.571429,24.564538,1.222222,0.388889,60.500,108.055010,58.0,79.24,102.221100,5.833909,65.5,31.0,50.000000,16.129032,60.232005,57.758621,21.428571,73.529412,21.116847,10.095911,1.261989,2.857143,1.396552,38.375,102.221100,108.055010,-5.833909,44.285714,6.967670,0.277778,0.444444,46.3,7.0,0,0,0,0,1,0,0
2,Liga ACB,Bilbao,Zaragoza,2013-10-12,Zaragoza,Away,Regular Season,77-86,0.0,Bilbao,Zaragoza,77.0,24.0,46.0,0.52000,5.0,12.0,0.42000,14.0,20.0,0.70000,13.0,19.0,32.0,15.0,7.0,12.0,1.0,1.0,18.0,23.0,89.0,86.0,25.0,39.0,0.64000,10.0,23.0,0.43000,6.0,10.0,0.60000,9.0,20.0,29.0,16.0,10.0,10.0,1.0,1.0,23.0,18.0,95.0,0.0,58.0,29.0,52.459016,51.724138,57.634731,54.310345,39.393939,67.857143,15.228426,65.80,10.638298,1.519757,2.564103,1.327586,50.877193,19.685039,1.250000,0.583333,55.250,117.021277,62.0,67.40,127.596439,-10.575163,59.4,35.0,47.540984,45.714286,64.759036,64.516129,32.142857,60.606061,13.089005,14.836795,1.483680,2.173913,1.387097,65.250,127.596439,117.021277,10.575163,55.555556,19.138756,1.600000,1.000000,70.0,-9.0,0,0,0,0,1,0,0
3,Basket League,Trikala,Kifisia,2013-10-12,Kifisia,Away,Regular Season,64-69,0.0,Trikala,Kifisia,64.0,21.0,41.0,0.51220,5.0,14.0,0.35714,7.0,18.0,0.38889,9.0,19.0,27.0,15.0,5.0,15.0,3.0,0.0,23.0,24.0,62.0,69.0,14.0,28.0,0.50000,9.0,28.0,0.32143,14.0,23.0,0.60870,11.0,22.0,33.0,17.0,4.0,16.0,0.0,3.0,24.0,23.0,62.0,0.0,55.0,26.0,45.000000,57.692308,50.858233,51.818182,29.032258,63.333333,19.250513,68.92,7.254788,4.352873,10.714286,1.163636,42.622951,19.460301,1.000000,0.333333,35.750,92.861288,56.0,71.12,97.019123,-4.157834,36.9,23.0,55.000000,73.913043,52.177858,49.107143,36.666667,70.967742,19.483682,5.624297,0.000000,0.000000,1.232143,38.875,97.019123,92.861288,4.157834,37.704918,21.551724,1.062500,0.250000,40.0,-5.0,0,0,0,0,1,0,0
4,Liga ACB,Tenerife,Obradoiro,2013-10-12,Tenerife,Home,Regular Season,76-74,0.0,Tenerife,Obradoiro,76.0,12.0,30.0,0.40000,11.0,21.0,0.52000,19.0,25.0,0.76000,7.0,22.0,29.0,12.0,13.0,18.0,2.0,0.0,20.0,27.0,87.0,74.0,15.0,36.0,0.42000,9.0,22.0,0.41000,17.0,23.0,0.74000,14.0,25.0,39.0,15.0,12.0,21.0,0.0,2.0,27.0,20.0,70.0,1.0,51.0,23.0,42.647059,52.173913,61.290323,55.882353,21.875000,61.111111,22.500000,73.00,17.808219,2.739726,5.555556,1.490196,37.096774,17.142857,0.666667,0.722222,50.875,104.109589,58.0,75.12,98.509052,5.600537,55.4,24.0,57.352941,62.500000,54.315913,49.137931,38.888889,78.125000,23.563734,15.974441,0.000000,0.000000,1.275862,47.125,98.509052,104.109589,-5.600537,36.923077,17.882690,0.714286,0.571429,48.6,2.0,0,0,0,0,1,0,0

In [4]:
data["Tournament"].unique()

array(['Basket League', 'Liga ACB', 'Eurocup', 'Euroleague'], dtype=object)

# Teams as Dummy Variables

In [5]:
baseline_data = data[["Tournament","Match Date","Home Team","Away Team","Team Result","Winner Team","Phase"]]
baseline_data.head()

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase
0,Basket League,2013-10-12,KAOD,Aris,0.0,Aris,Regular Season
1,Basket League,2013-10-12,PAOK,Kolossos Rhodes,1.0,PAOK,Regular Season
2,Liga ACB,2013-10-12,Bilbao,Zaragoza,0.0,Zaragoza,Regular Season
3,Basket League,2013-10-12,Trikala,Kifisia,0.0,Kifisia,Regular Season
4,Liga ACB,2013-10-12,Tenerife,Obradoiro,1.0,Tenerife,Regular Season

## Greek Basket League

In [6]:
greek_baseline_data = baseline_data[["Tournament","Match Date","Home Team","Away Team","Team Result","Winner Team","Phase"]][baseline_data["Tournament"]=='Basket League'].reset_index(drop = True)
greek_baseline_data.head()

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase
0,Basket League,2013-10-12,KAOD,Aris,0.0,Aris,Regular Season
1,Basket League,2013-10-12,PAOK,Kolossos Rhodes,1.0,PAOK,Regular Season
2,Basket League,2013-10-12,Trikala,Kifisia,0.0,Kifisia,Regular Season
3,Basket League,2013-10-13,Panelefsiniakos,Panionios,0.0,Panionios,Regular Season
4,Basket League,2013-10-13,Rethymno,Ikaros,1.0,Rethymno,Regular Season

In [7]:
greece_home = pd.get_dummies(greek_baseline_data["Home Team"]).reset_index(drop = True)
greece_away = -1*pd.get_dummies(greek_baseline_data["Away Team"]).reset_index(drop = True)
greece_x = pd.concat([greece_home,greece_away],axis=1).groupby(level=0, axis=1).sum()
greece_y = greek_baseline_data["Team Result"]

In [8]:
greek_baseline_data['Phase'].unique()

array(['Regular Season', 'Playoffs'], dtype=object)

In [9]:
x_structure_greece = greece_x.iloc[:len(greek_baseline_data[greek_baseline_data["Match Date"]<"2017-08-01"])]
y_structure_greece = greece_y.iloc[:len(greek_baseline_data[greek_baseline_data["Match Date"]<"2017-08-01"])]

start = int(len(greek_baseline_data[greek_baseline_data["Match Date"]<"2017-08-01"]))
end = start + int(len(greek_baseline_data[(greek_baseline_data["Match Date"]>"2017-08-01") & (greek_baseline_data['Phase'].isin(['Regular Season']))]))

x_train_greece = greece_x.iloc[:end]
y_train_greece = greece_y.iloc[:end]


x_test_greece = greece_x.iloc[end:]
y_test_greece = greece_y.iloc[end:]

###  Logistic Regression

In [10]:
lgr = LogisticRegression(C = 0.3839820885947254,penalty = 'l1', solver= 'liblinear').fit(x_train_greece, y_train_greece)
y_pre_proba_lgr=lgr.predict_proba(x_test_greece)
print("Logistic Regression")
print()
print("Test BS:",round(brier_score_loss(y_test_greece,y_pre_proba_lgr[:,1]),3))
print()
y_pre_lgr=np.where(pd.Series(y_pre_proba_lgr[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_lgr,y_test_greece),3))
print()
print("Test F1-score:",round(f1_score(y_pre_lgr,y_test_greece),3))

Logistic Regression

Test BS: 0.143

Test Accuracy: 0.727

Test F1-score 0.8

In [11]:
coef_dict = {}
for coef, feat in zip(lgr.coef_[:].tolist()[0],greece_x.columns.values):
    coef_dict[feat] = coef
coef1=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef1=coef1.iloc[(-coef1[0].abs()).argsort()].reset_index()

In [12]:
sorted_coef1

                index         0
0          Olympiacos  3.535727
1       Panathinaikos  3.411626
2                 AEK  1.276698
3                PAOK  0.951240
4                Aris  0.800854
5       Doxa Lefkadas -0.774154
6     Panelefsiniakos -0.591308
7              Kavala -0.568842
8   Promitheas Patras  0.413823
9             Trikala -0.379628
10          Ilisiakos -0.283129
11             Ikaros -0.283123
12           Koroivos -0.222104
13    Kolossos Rhodes  0.151501
14     Apollon Patras -0.127608
15           Rethymno  0.091730
16             Lavrio  0.013623
17          Panionios -0.003279
18            Kifisia  0.000000
19               Kymi  0.000000
20    Ifaistos Limnou  0.000000
21          Arkadikos  0.000000
22               KAOD  0.000000

In [13]:
lgr.intercept_

array([0.82164137])

## Random Forest Classifier

In [14]:
rfc = RandomForestClassifier(max_depth= 38, max_features='sqrt', min_samples_leaf=0.0022712801155358453,
                             min_samples_split=0.009889030194338, n_estimators=53
                             ,random_state= 1).fit(x_train_greece, y_train_greece)

y_pre_proba_rfc=rfc.predict_proba(x_test_greece)
print("Random Forest Classifier")
print()
print("Test BS:",round(brier_score_loss(y_test_greece,y_pre_proba_rfc[:,1]),3))
print()
y_pre_rfc=np.where(pd.Series(y_pre_proba_rfc[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_rfc,y_test_greece),3))
print()
print("Test F1-score:",round(f1_score(y_pre_rfc,y_test_greece),3))

Random Forest Classifier

Test BS: 0.151

Test Accuracy: 0.682

Test F1-score 0.741

In [15]:
coef_dict = {}
for coef, feat in zip(rfc.feature_importances_[:].tolist(),greece_x.columns.values):
    coef_dict[feat] = coef
coef2=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef2=coef2.iloc[(-coef2[0].abs()).argsort()].reset_index()
sorted_coef2

                index         0
0       Panathinaikos  0.289872
1          Olympiacos  0.285092
2                 AEK  0.048372
3             Trikala  0.041963
4                PAOK  0.031702
5            Koroivos  0.030695
6                Aris  0.030650
7     Panelefsiniakos  0.027916
8       Doxa Lefkadas  0.022918
9           Panionios  0.022221
10     Apollon Patras  0.021103
11           Rethymno  0.020084
12             Kavala  0.017765
13    Kolossos Rhodes  0.016323
14          Ilisiakos  0.013245
15            Kifisia  0.012898
16             Ikaros  0.012729
17  Promitheas Patras  0.011766
18               KAOD  0.010791
19             Lavrio  0.009398
20          Arkadikos  0.007909
21               Kymi  0.007364
22    Ifaistos Limnou  0.007223

## xgboost

In [16]:
alg = XGBClassifier(colsample_bytree = 0.7120387144249468, gamma = 1.173482282705095, learning_rate = 0.18114216198386113,
                    max_depth= 41, n_estimators= 88, reg_lambda= 0.33962213881868086, subsample= 0.16627201904949962, 
                    objective='binary:logistic').fit(x_train_greece, y_train_greece)




y_pre_proba_alg=alg.predict_proba(x_test_greece)
print("xgboost")
print()
print("Test BS:",round(brier_score_loss(y_test_greece,y_pre_proba_alg[:,1]),3))
print()
y_pre_alg=np.where(pd.Series(y_pre_proba_alg[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_alg,y_test_greece),3))
print()
print("Test F1-score:",round(f1_score(y_pre_alg,y_test_greece),3))

xgboost

Test BS: 0.14

Test Accuracy: 0.727

Test F1-score 0.8

In [17]:
coef_dict = {}
for coef, feat in zip(alg.feature_importances_[:].tolist(),greece_x.columns.values):
    coef_dict[feat] = coef
coef3=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef3=coef3.iloc[(-coef3[0].abs()).argsort()].reset_index()
sorted_coef3

                index         0
0              Kavala  0.080205
1          Olympiacos  0.071937
2       Panathinaikos  0.068753
3     Panelefsiniakos  0.067958
4           Panionios  0.056043
5                 AEK  0.052077
6            Koroivos  0.050583
7           Arkadikos  0.050234
8                Aris  0.050126
9             Trikala  0.046963
10               PAOK  0.046955
11    Kolossos Rhodes  0.045003
12     Apollon Patras  0.044414
13  Promitheas Patras  0.044013
14            Kifisia  0.041129
15               KAOD  0.040447
16           Rethymno  0.039022
17               Kymi  0.036576
18          Ilisiakos  0.035193
19             Lavrio  0.032370
20             Ikaros  0.000000
21    Ifaistos Limnou  0.000000
22      Doxa Lefkadas  0.000000

# Ensemble

In [18]:
ens_proba=(y_pre_proba_lgr[:,1]+y_pre_proba_rfc[:,1]+y_pre_proba_alg[:,1])/3


print("------Ensemble 3 classifier-------")
print()
print("Test BS:",round(brier_score_loss(y_test_greece,ens_proba),3))
print()
y_pre_ens=np.where(pd.Series(ens_proba)>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_ens,y_test_greece),3))
print()
print("Test F1-score:",round(f1_score(y_pre_ens,y_test_greece),3))

------Ensemble 3 classifier-------

Test BS: 0.142

Test Accuracy: 0.727

Test F1-score 0.8

In [19]:
matches = greek_baseline_data[(greek_baseline_data["Match Date"]>"2017-08-01") & (greek_baseline_data['Phase'].isin(['Playoffs']))]
matches['Probability']=ens_proba
matches['Prediction']=np.where(matches['Probability']>0.5,1,0)
matches['BS']= (matches['Team Result'] -  matches['Probability'])**2
matches

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase,Probability,Prediction,BS
1007,Basket League,2018-05-16,PAOK,AEK,1.0,PAOK,Playoffs,0.562269,1,0.191609
1008,Basket League,2018-05-16,Panathinaikos,Kolossos Rhodes,1.0,Panathinaikos,Playoffs,0.977662,1,0.000499
1009,Basket League,2018-05-16,Promitheas Patras,Lavrio,1.0,Promitheas Patras,Playoffs,0.725633,1,0.075277
1010,Basket League,2018-05-16,Olympiacos,Kymi,1.0,Olympiacos,Playoffs,0.979513,1,0.000420
1011,Basket League,2018-05-19,Kolossos Rhodes,Panathinaikos,0.0,Panathinaikos,Playoffs,0.102067,0,0.010418
1012,Basket League,2018-05-19,Lavrio,Promitheas Patras,0.0,Promitheas Patras,Playoffs,0.566444,1,0.320859
1013,Basket League,2018-05-19,Kymi,Olympiacos,0.0,Olympiacos,Playoffs,0.087648,0,0.007682
1014,Basket League,2018-05-19,AEK,PAOK,0.0,PAOK,Playoffs,0.735298,1,0.540664
1015,Basket League,2018-05-24,Olympiacos,Promitheas Patras,1.0,Olympiacos,Playoffs,0.942073,1,0.003355
1016,Basket League,2018-05-24,Panathinaikos,PAOK,1.0,Panathinaikos,Playoffs,0.957906,1,0.001772
1017,Basket League,2018-05-26,Panathinaikos,PAOK,1.0,Panathinaikos,Playoffs,0.957906,1,0.001772
1018,Basket League,2018-05-26,Olympiacos,Promitheas Patras,1.0,Olympiacos,Playoffs,0.942073,1,0.003355
1019,Basket League,2018-05-29,Promitheas Patras,Olympiacos,0.0,Olympiacos,Playoffs,0.108069,0,0.011679
1020,Basket League,2018-05-29,PAOK,Panathinaikos,0.0,Panathinaikos,Playoffs,0.141093,0,0.019907
1021,Basket League,2018-06-02,Promitheas Patras,PAOK,0.0,PAOK,Playoffs,0.551856,1,0.304545
1022,Basket League,2018-06-03,Panathinaikos,Olympiacos,0.0,Olympiacos,Playoffs,0.569742,1,0.324606
1023,Basket League,2018-06-06,PAOK,Promitheas Patras,1.0,PAOK,Playoffs,0.725828,1,0.075170
1024,Basket League,2018-06-07,Olympiacos,Panathinaikos,0.0,Panathinaikos,Playoffs,0.659833,1,0.435380
1025,Basket League,2018-06-09,Promitheas Patras,PAOK,0.0,PAOK,Playoffs,0.551856,1,0.304545
1026,Basket League,2018-06-10,Panathinaikos,Olympiacos,1.0,Panathinaikos,Playoffs,0.569742,1,0.185122
1027,Basket League,2018-06-14,Olympiacos,Panathinaikos,1.0,Olympiacos,Playoffs,0.659833,1,0.115713
1028,Basket League,2018-06-17,Panathinaikos,Olympiacos,1.0,Panathinaikos,Playoffs,0.569742,1,0.185122

# Liga ACB

In [20]:
spain_baseline_data = baseline_data[["Tournament","Match Date","Home Team","Away Team","Team Result","Winner Team","Phase"]][baseline_data["Tournament"]=='Liga ACB'].reset_index(drop = True)
spain_baseline_data.head()

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase
0,Liga ACB,2013-10-12,Bilbao,Zaragoza,0.0,Zaragoza,Regular Season
1,Liga ACB,2013-10-12,Tenerife,Obradoiro,1.0,Tenerife,Regular Season
2,Liga ACB,2013-10-13,Manresa,Joventut,1.0,Manresa,Regular Season
3,Liga ACB,2013-10-13,Baskonia,Gran Canaria,0.0,Gran Canaria,Regular Season
4,Liga ACB,2013-10-13,Gipuzkoa,Real Betis,1.0,Gipuzkoa,Regular Season

In [21]:
spain_home = pd.get_dummies(spain_baseline_data["Home Team"]).reset_index(drop = True)
spain_away = -1*pd.get_dummies(spain_baseline_data["Away Team"]).reset_index(drop = True)
spain_x = pd.concat([spain_home,spain_away],axis=1).groupby(level=0, axis=1).sum()
spain_y = spain_baseline_data["Team Result"]

In [22]:
spain_x.head()

,Andorra,Barcelona,Baskonia,Bilbao,Burgos,Estudiantes,Fuenlabrada,Gipuzkoa,Gran Canaria,Joventut,Manresa,Murcia,Obradoiro,Real Betis,Real Madrid,Tenerife,Unicaja Malaga,Valencia,Valladolid,Zaragoza
0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1
1,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,-1,1,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,-1,0,0,0,0,0,0

In [23]:
spain_baseline_data['Phase'].unique()

array(['Regular Season', 'Playoffs'], dtype=object)

In [24]:
x_structure_spain = spain_x.iloc[:len(spain_baseline_data[spain_baseline_data["Match Date"]<"2017-08-01"])]
y_structure_spain = spain_y.iloc[:len(spain_baseline_data[spain_baseline_data["Match Date"]<"2017-08-01"])]

start = int(len(spain_baseline_data[spain_baseline_data["Match Date"]<"2017-08-01"]))
end = start + int(len(spain_baseline_data[(spain_baseline_data["Match Date"]>"2017-08-01") & (spain_baseline_data['Phase'].isin(['Regular Season']))]))

x_train_spain = spain_x.iloc[:end]
y_train_spain = spain_y.iloc[:end]


x_test_spain = spain_x.iloc[end:]
y_test_spain = spain_y.iloc[end:]

###  Logistic Regression

In [25]:
lgr = LogisticRegression(solver='liblinear',C = 0.6765129921671309, penalty = 'l1').fit(x_train_spain, y_train_spain)
y_pre_proba_lgr=lgr.predict_proba(x_test_spain)
print("Logistic Regression")
print()
print("Test BS:",round(brier_score_loss(y_test_spain,y_pre_proba_lgr[:,1]),3))
print()
y_pre_lgr=np.where(pd.Series(y_pre_proba_lgr[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_lgr,y_test_spain),3))
print()
print("Test F1-score:",round(f1_score(y_pre_lgr,y_test_spain),3))

Logistic Regression

Test BS: 0.227

Test Accuracy: 0.619

Test F1-score 0.667

In [26]:
coef_dict = {}
for coef, feat in zip(lgr.coef_[:].tolist()[0],spain_x.columns.values):
    coef_dict[feat] = coef
coef2=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef2=coef2.iloc[(-coef2[0].abs()).argsort()].reset_index()

In [27]:
sorted_coef2

             index         0
0      Real Madrid  2.192283
1       Valladolid -1.820969
2        Barcelona  1.654085
3         Valencia  1.507102
4   Unicaja Malaga  1.013158
5         Baskonia  1.011561
6          Manresa -0.842087
7     Gran Canaria  0.797715
8         Tenerife  0.409584
9         Gipuzkoa -0.357511
10      Real Betis -0.246284
11          Murcia  0.178775
12       Obradoiro -0.176969
13     Estudiantes -0.120121
14     Fuenlabrada -0.101139
15         Andorra  0.086765
16        Zaragoza -0.041813
17          Bilbao  0.000000
18          Burgos  0.000000
19        Joventut  0.000000

In [28]:
lgr.intercept_

array([0.63741694])

## Random Forest Classifier

In [29]:
rfc = RandomForestClassifier(max_depth= 39, max_features='sqrt', min_samples_leaf=0.0009330471732301171,
                             min_samples_split=0.075312968832076, n_estimators=73,
                             random_state=1).fit(x_train_spain, y_train_spain)

y_pre_proba_rfc=rfc.predict_proba(x_test_spain)
print("Random Forest Classifier")
print()
print("Test BS:",round(brier_score_loss(y_test_spain,y_pre_proba_rfc[:,1]),3))
print()
y_pre_rfc=np.where(pd.Series(y_pre_proba_rfc[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_rfc,y_test_spain),3))
print()
print("Test F1-score:",round(f1_score(y_pre_rfc,y_test_spain),3))

Random Forest Classifier

Test BS: 0.24

Test Accuracy: 0.714

Test F1-score 0.769

In [30]:
coef_dict = {}
for coef, feat in zip(rfc.feature_importances_[:].tolist(),spain_x.columns.values):
    coef_dict[feat] = coef
coef2=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef2=coef2.iloc[(-coef2[0].abs()).argsort()].reset_index()
sorted_coef2

             index         0
0      Real Madrid  0.237745
1        Barcelona  0.119867
2         Valencia  0.117710
3          Manresa  0.090713
4   Unicaja Malaga  0.053261
5         Baskonia  0.051651
6       Valladolid  0.051592
7         Gipuzkoa  0.050253
8       Real Betis  0.042584
9     Gran Canaria  0.033088
10     Fuenlabrada  0.021934
11          Bilbao  0.021485
12     Estudiantes  0.018822
13       Obradoiro  0.018675
14          Burgos  0.015807
15        Zaragoza  0.013376
16        Tenerife  0.012396
17        Joventut  0.010477
18         Andorra  0.010355
19          Murcia  0.008207

## xgboost

In [31]:
alg = XGBClassifier(colsample_bytree= 0.6188949028768943, gamma= 2.819830261508139, learning_rate= 0.36256801131990146,
                    max_depth= 21, n_estimators= 86, reg_lambda= 0.09211406347716067, subsample= 0.5079441274104476,
                    objective='binary:logistic').fit(x_train_spain, y_train_spain)

y_pre_proba_alg=alg.predict_proba(x_test_spain)
print("xgboost")
print()
print("Test BS:",round(brier_score_loss(y_test_spain,y_pre_proba_alg[:,1]),3))
print()
y_pre_alg=np.where(pd.Series(y_pre_proba_alg[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_alg,y_test_spain),3))
print()
print("Test F1-score:",round(f1_score(y_pre_alg,y_test_spain),3))

xgboost

Test BS: 0.248

Test Accuracy: 0.714

Test F1-score 0.769

In [32]:
coef_dict = {}
for coef, feat in zip(alg.feature_importances_[:].tolist(),spain_x.columns.values):
    coef_dict[feat] = coef
coef3=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef3=coef3.iloc[(-coef3[0].abs()).argsort()].reset_index()
sorted_coef3

             index         0
0      Real Madrid  0.081206
1         Valencia  0.076525
2      Estudiantes  0.063967
3          Manresa  0.062146
4        Barcelona  0.060338
5         Gipuzkoa  0.057723
6        Obradoiro  0.050125
7           Bilbao  0.049827
8         Zaragoza  0.049434
9         Tenerife  0.049139
10  Unicaja Malaga  0.048862
11      Valladolid  0.046806
12          Murcia  0.043542
13     Fuenlabrada  0.041962
14      Real Betis  0.040571
15        Baskonia  0.040480
16         Andorra  0.040081
17          Burgos  0.034487
18        Joventut  0.034295
19    Gran Canaria  0.028483

In [33]:
ens_proba=(y_pre_proba_lgr[:,1]+y_pre_proba_rfc[:,1]+y_pre_proba_alg[:,1])/3


print("------Ensemble 3 classifier-------")
print()
print("Test BS:",round(brier_score_loss(y_test_spain,ens_proba),3))
print()
y_pre_ens=np.where(pd.Series(ens_proba)>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_ens,y_test_spain),3))
print()
print("Test F1-score:",round(f1_score(y_pre_ens,y_test_spain),3))

------Ensemble 3 classifier-------

Test BS: 0.237

Test Accuracy: 0.714

Test F1-score 0.769

In [34]:
matches = spain_baseline_data[(spain_baseline_data["Match Date"]>"2017-08-01") & (spain_baseline_data['Phase'].isin(['Playoffs']))]
matches['Probability']=y_pre_proba_lgr[:,1]
matches['Prediction']=np.where(matches['Probability']>0.5,1,0)
matches['BS']= (matches['Team Result'] -  matches['Probability'])**2
matches

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase,Probability,Prediction,BS
1586,Liga ACB,2018-05-27,Barcelona,Andorra,0.0,Andorra,Playoffs,0.900674,1,0.811214
1587,Liga ACB,2018-05-27,Baskonia,Unicaja Malaga,1.0,Baskonia,Playoffs,0.653808,1,0.119849
1588,Liga ACB,2018-05-27,Real Madrid,Tenerife,1.0,Real Madrid,Playoffs,0.918348,1,0.006667
1589,Liga ACB,2018-05-28,Valencia,Gran Canaria,1.0,Valencia,Playoffs,0.793607,1,0.042598
1590,Liga ACB,2018-05-29,Tenerife,Real Madrid,0.0,Real Madrid,Playoffs,0.241352,0,0.058251
1591,Liga ACB,2018-05-29,Unicaja Malaga,Baskonia,0.0,Baskonia,Playoffs,0.654530,1,0.428410
1592,Liga ACB,2018-05-30,Andorra,Barcelona,0.0,Barcelona,Playoffs,0.282945,0,0.080058
1593,Liga ACB,2018-05-30,Gran Canaria,Valencia,1.0,Gran Canaria,Playoffs,0.482015,0,0.268308
1594,Liga ACB,2018-06-01,Valencia,Gran Canaria,0.0,Gran Canaria,Playoffs,0.793607,1,0.629812
1595,Liga ACB,2018-06-01,Barcelona,Andorra,1.0,Barcelona,Playoffs,0.900674,1,0.009866
1596,Liga ACB,2018-06-03,Real Madrid,Gran Canaria,1.0,Real Madrid,Playoffs,0.884115,1,0.013429
1597,Liga ACB,2018-06-04,Baskonia,Barcelona,1.0,Baskonia,Playoffs,0.498723,0,0.251278
1598,Liga ACB,2018-06-05,Real Madrid,Gran Canaria,1.0,Real Madrid,Playoffs,0.884115,1,0.013429
1599,Liga ACB,2018-06-06,Baskonia,Barcelona,1.0,Baskonia,Playoffs,0.498723,0,0.251278
1600,Liga ACB,2018-06-07,Gran Canaria,Real Madrid,0.0,Real Madrid,Playoffs,0.319265,0,0.101930
1601,Liga ACB,2018-06-08,Barcelona,Baskonia,1.0,Barcelona,Playoffs,0.782440,1,0.047333
1602,Liga ACB,2018-06-10,Barcelona,Baskonia,0.0,Baskonia,Playoffs,0.782440,1,0.612212
1603,Liga ACB,2018-06-13,Real Madrid,Baskonia,0.0,Baskonia,Playoffs,0.860343,1,0.740189
1604,Liga ACB,2018-06-15,Real Madrid,Baskonia,1.0,Real Madrid,Playoffs,0.860343,1,0.019504
1605,Liga ACB,2018-06-17,Baskonia,Real Madrid,0.0,Real Madrid,Playoffs,0.367419,0,0.134997
1606,Liga ACB,2018-06-19,Baskonia,Real Madrid,0.0,Real Madrid,Playoffs,0.367419,0,0.134997

In [35]:
np.mean(matches['BS'])

0.22740994662159691

# Euroleague

In [36]:
el_baseline_data = baseline_data[["Tournament","Match Date","Home Team","Away Team","Team Result","Winner Team","Phase"]][baseline_data["Tournament"]=='Euroleague'].reset_index(drop = True)
el_baseline_data.head()

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase
0,Euroleague,2013-10-16,Bamberg,Strasbourg,1.0,Bamberg,Regular Season
1,Euroleague,2013-10-16,Siena,Galatasaray,0.0,Galatasaray,Regular Season
2,Euroleague,2013-10-17,Barcelona,Partizan,1.0,Barcelona,Regular Season
3,Euroleague,2013-10-17,Nanterre,CSKA Moscow,0.0,CSKA Moscow,Regular Season
4,Euroleague,2013-10-17,Anadolu Efes,Armani Milano,1.0,Anadolu Efes,Regular Season

In [37]:
el_home = pd.get_dummies(el_baseline_data["Home Team"]).reset_index(drop = True)
el_away = -1*pd.get_dummies(el_baseline_data["Away Team"]).reset_index(drop = True)
el_x = pd.concat([el_home,el_away],axis=1).groupby(level=0, axis=1).sum()
el_y = el_baseline_data["Team Result"]

In [38]:
el_x.head()

,Alba Berlin,Anadolu Efes,Armani Milano,Bamberg,Barcelona,Baskonia,Bayern Munich,Budivelnyk,CSKA Moscow,Cedevita,Crvena Zvezda,Darussafaka,Dinamo Sassari,Fenerbahce,Galatasaray,Khimki,Limoges,Lokomotiv Kuban,Maccabi Tel Aviv,Nanterre,Neptunas,Nizhny Novgorod,Olympiacos,Panathinaikos,Partizan,Pinar Karsiyaka,Real Madrid,Rytas Vilnius,Siena,Strasbourg,Turow Zgorzelec,Unicaja Malaga,Unics Kazan,Valencia,Zalgiris,Zielona Gora
0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [39]:
el_baseline_data['Phase'].unique()

array(['Regular Season', 'Top 16', 'Playoffs', 'Final Four'], dtype=object)

In [40]:
x_structure_el = el_x.iloc[:len(el_baseline_data[el_baseline_data["Match Date"]<"2017-08-01"])]
y_structure_el = el_y.iloc[:len(el_baseline_data[el_baseline_data["Match Date"]<"2017-08-01"])]

start = int(len(el_baseline_data[el_baseline_data["Match Date"]<"2017-08-01"]))
end = start + int(len(el_baseline_data[(el_baseline_data["Match Date"]>"2017-08-01") & (el_baseline_data['Phase'].isin(['Regular Season', 'Top 16']))]))

x_train_el = el_x.iloc[:end]
y_train_el = el_y.iloc[:end]


x_test_el = el_x.iloc[end:]
y_test_el = el_y.iloc[end:]

###  Logistic Regression

In [41]:
lgr = LogisticRegression(solver='liblinear' , C= 0.7847137962592965, penalty='l1').fit(x_train_el, y_train_el)
y_pre_proba_lgr=lgr.predict_proba(x_test_el)
print("Logistic Regression")
print()
print("Test BS:",round(brier_score_loss(y_test_el,y_pre_proba_lgr[:,1]),3))
print()
y_pre_lgr=np.where(pd.Series(y_pre_proba_lgr[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_lgr,y_test_el),3))
print()
print("Test F1-score:",round(f1_score(y_pre_lgr,y_test_el),3))

Logistic Regression

Test BS: 0.242

Test Accuracy: 0.6

Test F1-score 0.714

In [42]:
coef_dict = {}
for coef, feat in zip(lgr.coef_[:].tolist()[0],el_x.columns.values):
    coef_dict[feat] = coef
coef3=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef3=coef3.iloc[(-coef3[0].abs()).argsort()].reset_index()

In [43]:
sorted_coef3.head(50)

               index         0
0     Dinamo Sassari -1.979196
1        CSKA Moscow  1.872636
2         Fenerbahce  1.411630
3        Real Madrid  1.321749
4         Olympiacos  1.195239
5    Lokomotiv Kuban  0.861180
6    Turow Zgorzelec -0.856414
7       Zielona Gora -0.856121
8          Barcelona  0.820067
9      Rytas Vilnius -0.766547
10     Panathinaikos  0.725858
11          Baskonia  0.616216
12            Khimki  0.611979
13           Limoges -0.567220
14  Maccabi Tel Aviv  0.463315
15             Siena -0.331447
16          Cedevita -0.293069
17       Unics Kazan -0.284680
18     Crvena Zvezda  0.207193
19     Bayern Munich -0.191697
20   Nizhny Novgorod -0.190732
21        Strasbourg -0.175148
22       Darussafaka  0.152575
23          Zalgiris  0.102749
24          Partizan -0.079607
25        Budivelnyk -0.070744
26      Anadolu Efes  0.069325
27       Galatasaray -0.053460
28    Unicaja Malaga  0.032064
29           Bamberg  0.000000
30          Nanterre  0.000000
31   Pinar Karsiyaka  0.000000
32     Armani Milano  0.000000
33          Valencia  0.000000
34          Neptunas  0.000000
35       Alba Berlin  0.000000

In [44]:
lgr.intercept_

array([0.62443411])

## Random Forest Classifier

In [45]:
rfc = RandomForestClassifier(max_depth= 36, max_features='log2', min_samples_leaf=0.002390948900012013,
                             min_samples_split=0.0096605683266830, n_estimators=73,
                             random_state=1).fit(x_train_el, y_train_el)

y_pre_proba_rfc=rfc.predict_proba(x_test_el)
print("Random Forest Classifier")
print()
print("Test BS:",round(brier_score_loss(y_test_el,y_pre_proba_rfc[:,1]),3))
print()
y_pre_rfc=np.where(y_pre_proba_rfc[:,1] > 0.5, 1, 0)
print("Test Accuracy:",round(accuracy_score(y_pre_rfc ,y_test_el),3))
print()
print("Test F1-score:",round(f1_score(y_pre_rfc,y_test_el),3))

Random Forest Classifier

Test BS: 0.239

Test Accuracy: 0.55

Test F1-score 0.667

In [46]:
coef_dict = {}
for coef, feat in zip(rfc.feature_importances_[:].tolist(),el_x.columns.values):
    coef_dict[feat] = coef
coef2=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef2=coef2.iloc[(-coef2[0].abs()).argsort()].reset_index()
sorted_coef2

               index         0
0        CSKA Moscow  0.185142
1         Fenerbahce  0.107072
2        Real Madrid  0.081984
3         Olympiacos  0.060826
4     Dinamo Sassari  0.050181
5      Panathinaikos  0.038085
6           Cedevita  0.036964
7          Barcelona  0.033836
8       Zielona Gora  0.030140
9      Armani Milano  0.025312
10      Anadolu Efes  0.025071
11          Baskonia  0.023814
12          Zalgiris  0.023324
13           Bamberg  0.022650
14   Lokomotiv Kuban  0.019317
15           Limoges  0.017838
16       Galatasaray  0.017546
17  Maccabi Tel Aviv  0.017181
18       Unics Kazan  0.016504
19        Strasbourg  0.015401
20    Unicaja Malaga  0.014494
21   Nizhny Novgorod  0.014003
22     Rytas Vilnius  0.013722
23          Valencia  0.013476
24       Darussafaka  0.013341
25     Bayern Munich  0.012972
26          Partizan  0.011428
27     Crvena Zvezda  0.011404
28            Khimki  0.010769
29   Turow Zgorzelec  0.010099
30       Alba Berlin  0.007614
31   Pinar Karsiyaka  0.005215
32          Neptunas  0.005003
33             Siena  0.004320
34        Budivelnyk  0.002845
35          Nanterre  0.001107

## xgboost

In [47]:
alg = XGBClassifier(colsample_bytree= 0.897167919370632, gamma= 0.835671500072126, learning_rate= 0.3887154858505634,
                    max_depth= 1, n_estimators= 99, reg_lambda= 0.7909237442174416, subsample= 0.963659261900305,
                    objective='binary:logistic').fit(x_train_el, y_train_el)

y_pre_proba_alg=alg.predict_proba(x_test_el)
print("xgboost")
print()
print("Test BS:",round(brier_score_loss(y_test_el,y_pre_proba_alg[:,1]),3))
print()
y_pre_alg=np.where(y_pre_proba_alg[:,1] > 0.5, 1, 0)
print("Test Accuracy:",round(accuracy_score(y_pre_alg ,y_test_el),3))
print()
print("Test F1-score:",round(f1_score(y_pre_alg,y_test_el),3))

xgboost

Test BS: 0.242

Test Accuracy: 0.6

Test F1-score 0.714

In [48]:
coef_dict = {}
for coef, feat in zip(alg.feature_importances_[:].tolist(),el_x.columns.values):
    coef_dict[feat] = coef
coef3=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef3=coef3.iloc[(-coef3[0].abs()).argsort()].reset_index()
sorted_coef3

               index         0
0        CSKA Moscow  0.107204
1         Fenerbahce  0.075837
2        Real Madrid  0.070833
3         Olympiacos  0.062947
4       Zielona Gora  0.062656
5      Panathinaikos  0.053514
6          Barcelona  0.039293
7           Cedevita  0.038382
8     Dinamo Sassari  0.035913
9    Lokomotiv Kuban  0.032985
10  Maccabi Tel Aviv  0.031901
11   Nizhny Novgorod  0.031765
12     Armani Milano  0.030536
13        Strasbourg  0.027638
14     Bayern Munich  0.026522
15           Limoges  0.026272
16          Baskonia  0.026099
17       Unics Kazan  0.022722
18           Bamberg  0.022262
19    Unicaja Malaga  0.022177
20   Turow Zgorzelec  0.021583
21            Khimki  0.020665
22          Valencia  0.019580
23          Partizan  0.017230
24     Rytas Vilnius  0.015916
25       Galatasaray  0.015250
26          Neptunas  0.015238
27      Anadolu Efes  0.013860
28          Zalgiris  0.013221
29     Crvena Zvezda  0.000000
30   Pinar Karsiyaka  0.000000
31        Budivelnyk  0.000000
32          Nanterre  0.000000
33       Darussafaka  0.000000
34             Siena  0.000000
35       Alba Berlin  0.000000

In [49]:
ens_proba=(y_pre_proba_lgr[:,1]+y_pre_proba_rfc[:,1]+y_pre_proba_alg[:,1])/3


print("------Ensemble 3 classifier-------")
print()
print("Test RPS:",round(brier_score_loss(y_test_el,ens_proba),3))
print()
y_pre_ens=np.where(pd.Series(ens_proba)>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_ens,y_test_el),3))
print()
print("Test F1-score:",round(f1_score(y_pre_ens,y_test_el),3))

------Ensemble 3 classifier-------

Test RPS: 0.24

Test Accuracy: 0.6

Test F1-score 0.714

# Eurocup

In [50]:
ec_baseline_data = baseline_data[["Tournament","Match Date","Home Team","Away Team","Team Result","Winner Team","Phase"]][baseline_data["Tournament"]=='Eurocup'].reset_index(drop = True)
ec_baseline_data.head()

,Tournament,Match Date,Home Team,Away Team,Team Result,Winner Team,Phase
0,Eurocup,2013-10-15,Bonn,Alba Berlin,0.0,Alba Berlin,Regular Season
1,Eurocup,2013-10-15,Banvit,Kalev Cramo,1.0,Banvit,Regular Season
2,Eurocup,2013-10-15,PAOK,Buducnost,1.0,PAOK,Regular Season
3,Eurocup,2013-10-15,Bilbao,Cedevita,1.0,Bilbao,Regular Season
4,Eurocup,2013-10-15,Paris Levallois,Valencia,0.0,Valencia,Regular Season

In [51]:
ec_home = pd.get_dummies(ec_baseline_data["Home Team"]).reset_index(drop = True)
ec_away = -1*pd.get_dummies(ec_baseline_data["Away Team"]).reset_index(drop = True)
ec_x = pd.concat([ec_home,ec_away],axis=1).groupby(level=0, axis=1).sum()
ec_y = ec_baseline_data["Team Result"]

In [52]:
ec_x.head()

,AEK,ASVEL Villeurbanne,Alba Berlin,Alba Fehervar,Andorra,Aris,Armani Milano,Artland Dragons,Avtodor Saratov,Bamberg,Banvit,Bayern Munich,Besiktas,Bilbao,Bisons Loimaa,Bonn,Brindisi,Budivelnyk,Buducnost,Cantu,Cedevita,Chalon Saone,Cibona,Crvena Zvezda,Csu Asesoft Ploiesti,Darussafaka,Dijon,Dinamo Sassari,Fuenlabrada,Galatasaray,Gran Canaria,Gravelines,Hapoel Jerusalem,Igokea,Kalev Cramo,Khimik,Khimki,Krasny Oktyabr,Le Mans,Lietkabelis,Limoges,Lokomotiv Kuban,Ludwigsburg,Lukoil Academic,MZT Skopje,Maccabi Haifa,Maccabi Tel Aviv,Mons,Murcia,Nancy,Nanterre,Neptunas,Nizhny Novgorod,Nymburk,Oldenburg,Olimpija Ljubljana,Oostende,PAOK,Panionios,Paris Levallois,Partizan,Pinar Karsiyaka,Radnicki,Real Betis,Reggio Emilia,Rytas Vilnius,Siena,Spartak St Petersburg,Spirou Charleroi,Steaua Bucharest,Strasbourg,Szolnoki,Ted Ankara Kolejliler,Tofas Bursa,Trabzonspor,Trento,Turin,Turow Zgorzelec,Ulm,Unicaja Malaga,Unics Kazan,VEF Riga,Valencia,Varese,Venezia,Ventspils,Virtus Roma,Zaragoza,Zenit St Petersburg,Zielona Gora
0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0

In [53]:
ec_baseline_data['Phase'].unique()

array(['Regular Season', 'Last 32', 'Quarter-Finals', 'Semifinals',
       'Finals', 'Top 16'], dtype=object)

In [54]:
x_structure_ec = ec_x.iloc[:len(ec_baseline_data[ec_baseline_data["Match Date"]<"2017-08-01"])]
y_structure_ec = ec_y.iloc[:len(ec_baseline_data[ec_baseline_data["Match Date"]<"2017-08-01"])]

start = int(len(ec_baseline_data[ec_baseline_data["Match Date"]<"2017-08-01"]))
end = start + int(len(ec_baseline_data[(ec_baseline_data["Match Date"]>"2017-08-01") & (ec_baseline_data['Phase'].isin(['Regular Season','Last 32', 'Top 16']))]))

x_train_ec = ec_x.iloc[:end]
y_train_ec = ec_y.iloc[:end]


x_test_ec = ec_x.iloc[end:]
y_test_ec = ec_y.iloc[end:]

###  Logistic Regression

In [55]:
lgr = LogisticRegression(solver='liblinear',C= 0.8479198446641489, penalty= 'l1').fit(x_train_ec, y_train_ec)
y_pre_proba_lgr=lgr.predict_proba(x_test_ec)
print("Logistic Regression")
print()
print("Test BS:",round(brier_score_loss(y_test_ec,y_pre_proba_lgr[:,1]),3))
print()
y_pre_lgr=np.where(pd.Series(y_pre_proba_lgr[:,1])>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_lgr,y_test_ec),3))
print()
print("Test F1-score:",round(f1_score(y_pre_lgr,y_test_ec),3))

Logistic Regression

Test BS: 0.161

Test Accuracy: 0.75

Test F1-score 0.818

In [56]:
coef_dict = {}
for coef, feat in zip(lgr.coef_[:].tolist()[0],ec_x.columns.values):
    coef_dict[feat] = coef
coef4=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef4=coef4.iloc[(-coef4[0].abs()).argsort()].reset_index()

In [57]:
sorted_coef4.head(50)

                    index         0
0              MZT Skopje -2.060959
1                  Cibona -1.862996
2         Lokomotiv Kuban  1.840229
3                  Khimki  1.695401
4         Artland Dragons -1.631507
5             Darussafaka  1.565266
6           Bayern Munich  1.524909
7                Valencia  1.274799
8             Unics Kazan  1.263567
9            Gran Canaria  1.214537
10               Brindisi -1.122397
11         Unicaja Malaga  1.116218
12               Partizan -0.986497
13          Alba Fehervar -0.853490
14                   Mons -0.810004
15       Spirou Charleroi -0.718223
16    Zenit St Petersburg  0.689304
17            Kalev Cramo -0.666581
18                 Varese -0.659841
19               VEF Riga -0.628649
20       Steaua Bucharest -0.592700
21             Strasbourg  0.579568
22              Ventspils -0.564132
23                 Trento  0.525869
24        Avtodor Saratov  0.523934
25            Alba Berlin  0.454433
26                Le Mans -0.441536
27             Budivelnyk  0.404357
28               Szolnoki -0.402691
29  Spartak St Petersburg -0.381125
30                   Bonn -0.370418
31              Buducnost -0.352911
32         Krasny Oktyabr -0.343690
33                  Nancy -0.343361
34                   Aris  0.338583
35            Galatasaray  0.331983
36            Ludwigsburg  0.327774
37        Pinar Karsiyaka  0.318619
38               Besiktas  0.250787
39              Panionios -0.209851
40          Crvena Zvezda  0.202413
41        Nizhny Novgorod  0.187627
42          Armani Milano  0.179026
43               Neptunas -0.161261
44                 Banvit  0.124194
45                    Ulm -0.105433
46     Olimpija Ljubljana -0.105219
47                Venezia -0.101199
48   Csu Asesoft Ploiesti -0.081695
49             Real Betis -0.076138

In [58]:
lgr.intercept_

array([0.53294419])

## Random Forest Classifier

In [59]:
rfc = RandomForestClassifier(max_depth= 38, max_features='sqrt', min_samples_leaf=0.0037012163422379674,
                             min_samples_split=0.251132570859313, n_estimators=41,
                             random_state=1).fit(x_train_ec, y_train_ec)

y_pre_proba_rfc=rfc.predict_proba(x_test_ec)
print("Random Forest Classifier")
print()
print("Test BS:",round(brier_score_loss(y_test_ec,y_pre_proba_rfc[:,1]),3))
print()
y_pre_rfc=np.where(y_pre_proba_rfc[:,1] > 0.5, 1, 0)
print("Test Accuracy:",round(accuracy_score(y_pre_rfc ,y_test_ec),3))
print()
print("Test F1-score:",round(f1_score(y_pre_rfc,y_test_ec),3))

Random Forest Classifier

Test BS: 0.246

Test Accuracy: 0.5

Test F1-score 0.556

In [60]:
coef_dict = {}
for coef, feat in zip(rfc.feature_importances_[:].tolist(),ec_x.columns.values):
    coef_dict[feat] = coef
coef2=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef2=coef2.iloc[(-coef2[0].abs()).argsort()].reset_index()
sorted_coef2

               index         0
0    Lokomotiv Kuban  0.110517
1        Unics Kazan  0.075096
2             Khimki  0.072364
3       Gran Canaria  0.063266
4           Valencia  0.051265
..               ...       ...
85             Siena  0.000000
86   Lukoil Academic  0.000000
87  Maccabi Tel Aviv  0.000000
88     Bisons Loimaa  0.000000
89               AEK  0.000000

[90 rows x 2 columns]

## xgboost

In [61]:
alg = XGBClassifier(colsample_bytree= 0.5913621206231853, gamma= 4.08026456094463, learning_rate= 0.37903160103981465,
                    max_depth= 47, n_estimators= 94, reg_lambda= 0.11419103539605524, subsample= 0.7917278647223511,
                    objective='binary:logistic').fit(x_train_ec, y_train_ec)

y_pre_proba_alg=alg.predict_proba(x_test_ec)
print("xgboost")
print()
print("Test BS:",round(brier_score_loss(y_test_ec,y_pre_proba_alg[:,1]),3))
print()
y_pre_alg=np.where(y_pre_proba_alg[:,1] > 0.5, 1, 0)
print("Test Accuracy:",round(accuracy_score(y_pre_alg ,y_test_ec),3))
print()
print("Test F1-score:",round(f1_score(y_pre_alg,y_test_ec),3))

xgboost

Test BS: 0.19

Test Accuracy: 0.625

Test F1-score 0.625

In [62]:
coef_dict = {}
for coef, feat in zip(alg.feature_importances_[:].tolist(),ec_x.columns.values):
    coef_dict[feat] = coef
coef3=pd.DataFrame.from_dict(coef_dict,orient ='index')
sorted_coef3=coef3.iloc[(-coef3[0].abs()).argsort()].reset_index()
sorted_coef3

               index         0
0           Besiktas  0.038686
1     Krasny Oktyabr  0.032355
2    Lokomotiv Kuban  0.029026
3       Gran Canaria  0.026667
4        Unics Kazan  0.026651
..               ...       ...
85  Hapoel Jerusalem  0.000000
86            Khimik  0.000000
87        Real Betis  0.000000
88     Rytas Vilnius  0.000000
89               AEK  0.000000

[90 rows x 2 columns]

In [64]:
ens_proba=(y_pre_proba_lgr[:,1]+y_pre_proba_rfc[:,1]+y_pre_proba_alg[:,1])/3


print("------Ensemble 3 classifier-------")
print()
print("Test BS:",round(brier_score_loss(y_test_ec,ens_proba),3))
print()
y_pre_ens=np.where(pd.Series(ens_proba)>0.5,1,0)
print("Test Accuracy:",round(accuracy_score(y_pre_ens,y_test_ec),3))
print()
print("Test F1-score:",round(f1_score(y_pre_ens,y_test_ec),3))

------Ensemble 3 classifier-------

Test BS: 0.189

Test Accuracy: 0.688

Test F1-score 0.762